* {
    padding: 0;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    width: 60vw;
    font-size: 2.5vw;
}

#input {
    height: 7vh;
    margin-left: 1vw;
    background-color: #d9e6f2;
    width: 58vw;
    line-height: 7vh;
    text-align: right;
    font-size: 3.5vw;
}

#output {
    height: 15vh;
    margin-left: 1vw;
    width: 57.2vw;
    background-color: #ffffff;
    line-height: 6.5vh;
    text-align: right;
    font-size: 3vw;
    resize: none;
    padding-right: 1.2vw;
}

body > div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body > div > * {
    height: 7vh;
    width: 10vw;
    margin: 1vw;
    background-color: #f2f2f2;
    border-radius: 10%;
    border: 1px solid #c9c9c9;
    line-height: 6.5vh;
    text-align: center;
    font-size: 3vw;
}

.void {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}

body > div > *:hover {
    background-color: #f2f2f2;
}

#equal {
    width: 24vw;
    background-color: #1a73e8;
    border: 1px solid #1257b6;
    color: #fff;
}

#fourth-raw > #equal:hover {
    background-color: #1257b6;
}